language: node_js

node_js:
  - "10"

cache:
  npm: false

services:
  - docker

script:
  - make build
  - make container-image
  - make tag-image
  - if [ "$TRAVIS_BRANCH" = "dev" ]; then make publish; fi
